## Importing packages and libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Parsing forecast data

In [2]:
forecast_df = pd.read_csv('data/windpowerforecasts.dat', delimiter = ';')
forecast_df['dato'] = pd.to_datetime(forecast_df['dato'], format='%Y%m%d%H%M',)
forecast_df['dati'] = pd.to_datetime(forecast_df['dati'], format='%Y%m%d%H%M',)
forecast_df['time'] = forecast_df.dati.apply(lambda x: x.time())
forecast_df = forecast_df[forecast_df['time'] == pd.to_datetime('12:00').time()]
forecast_df = forecast_df[forecast_df['hors'] >= 12]
forecast_df = forecast_df[forecast_df['hors'] < 36].reset_index()
forecast_df = forecast_df.interpolate()
forecast_df = forecast_df.drop([8760], axis=0)
forecast_df.head()

,index,dato,dati,hors,meas,fore,q5,10,q15,q20,...,q55,q60,q65,q70,q75,q80,q85,q90,q95,time
0,49,2017-01-01 00:00:00,2016-12-31 12:00:00,12,147661.0,138349.0,86738.0,108753.0,120017.0,125718.0,...,142746.0,144394.0,146628.0,148193.0,150772.0,152857.0,153662.0,156208.0,157999.0,12:00:00
1,50,2017-01-01 01:00:00,2016-12-31 12:00:00,13,144796.0,138563.0,90423.0,108710.0,121071.0,127537.0,...,142993.0,144718.0,146568.0,148821.0,150989.0,152172.0,153606.0,156823.0,157806.0,12:00:00
2,51,2017-01-01 02:00:00,2016-12-31 12:00:00,14,138824.0,139105.0,84651.0,108377.0,118738.0,126285.0,...,143269.0,144843.0,146943.0,148726.0,150211.0,152244.0,154077.0,155062.0,157605.0,12:00:00
3,52,2017-01-01 03:00:00,2016-12-31 12:00:00,15,139307.0,138035.0,96420.0,111929.0,119582.0,124943.0,...,140940.0,141909.0,144100.0,146150.0,148299.0,150362.0,153688.0,155021.0,156767.0,12:00:00
4,53,2017-01-01 04:00:00,2016-12-31 12:00:00,16,139602.0,138786.0,101909.0,111329.0,120306.0,124232.0,...,141384.0,143238.0,145445.0,147903.0,150514.0,152098.0,153253.0,154366.0,156323.0,12:00:00

## Parsing data of Day-ahead prices 2013-2017

In [3]:
prices_dayahead_2013_raw_data = pd.read_html('data/elspot-prices_2013_hourly_dkk.xls')[0].values
prices_dayahead_2013 = pd.DataFrame(prices_dayahead_2013_raw_data)
prices_dayahead_2013 = prices_dayahead_2013.drop([2,3,4,5,6,7,9,10,11,12,13,14,15,16,17,18,19],axis=1)
prices_dayahead_2013.columns = ['Dates', 'Hours', 'DK1']
prices_dayahead_2013['Hours'] = prices_dayahead_2013['Hours'].str.slice(stop=2)
prices_dayahead_2013['ts'] = pd.to_datetime(prices_dayahead_2013['Dates'] + prices_dayahead_2013['Hours'] + ':00', format='%d-%m-%Y%H:%M')
prices_dayahead_2013 = prices_dayahead_2013.drop(['Dates','Hours'],axis=1)
prices_dayahead_2013['DK1'] = prices_dayahead_2013['DK1']/100
prices_dayahead_2013 = prices_dayahead_2013.set_index('ts')
prices_dayahead_2013.head()

                        DK1
ts
2013-01-01 00:00:00  104.66
2013-01-01 01:00:00    82.5
2013-01-01 02:00:00   63.41
2013-01-01 03:00:00    0.75
2013-01-01 04:00:00   14.99

In [4]:
prices_dayahead_2014_raw_data = pd.read_html('data/elspot-prices_2014_hourly_dkk.xls')[0].values
prices_dayahead_2014 = pd.DataFrame(prices_dayahead_2014_raw_data)
prices_dayahead_2014 = prices_dayahead_2014.drop([2,3,4,5,6,7,9,10,11,12,13,14,15,16,17,18,19],axis=1)
prices_dayahead_2014.columns = ['Dates', 'Hours', 'DK1']
prices_dayahead_2014['Hours'] = prices_dayahead_2014['Hours'].str.slice(stop=2)
prices_dayahead_2014['ts'] = pd.to_datetime(prices_dayahead_2014['Dates'] + prices_dayahead_2014['Hours'] + ':00', format='%d-%m-%Y%H:%M')
prices_dayahead_2014 = prices_dayahead_2014.drop(['Dates','Hours'],axis=1)
prices_dayahead_2014['DK1'] = prices_dayahead_2014['DK1']/100
prices_dayahead_2014 = prices_dayahead_2014.set_index('ts')
prices_dayahead_2014.head()

KeyError: '[19] not found in axis'

In [ ]:
prices_dayahead_2015_raw_data = pd.read_html('data/elspot-prices_2015_hourly_dkk.xls')[0].values
prices_dayahead_2015 = pd.DataFrame(prices_dayahead_2015_raw_data)
prices_dayahead_2015 = prices_dayahead_2015.drop([2,3,4,5,6,7,9,10,11,12,13,14,15,16,17,18,19],axis=1)
prices_dayahead_2015.columns = ['Dates', 'Hours', 'DK1']
prices_dayahead_2015['Hours'] = prices_dayahead_2015['Hours'].str.slice(stop=2)
prices_dayahead_2015['ts'] = pd.to_datetime(prices_dayahead_2015['Dates'] + prices_dayahead_2015['Hours'] + ':00', format='%d-%m-%Y%H:%M')
prices_dayahead_2015 = prices_dayahead_2015.drop(['Dates','Hours'],axis=1)
prices_dayahead_2015['DK1'] = prices_dayahead_2015['DK1']/100
prices_dayahead_2015 = prices_dayahead_2015.set_index('ts')
prices_dayahead_2015.head()

In [ ]:
prices_dayahead_2016_raw_data = pd.read_html('data/elspot-prices_2016_hourly_dkk.xls')[0].values
prices_dayahead_2016 = pd.DataFrame(prices_dayahead_2016_raw_data)
prices_dayahead_2016 = prices_dayahead_2016.drop([2,3,4,5,6,7,9,10,11,12,13,14,15,16,17,18,19],axis=1)
prices_dayahead_2016.columns = ['Dates', 'Hours', 'DK1']
prices_dayahead_2016['Hours'] = prices_dayahead_2016['Hours'].str.slice(stop=2)
prices_dayahead_2016['ts'] = pd.to_datetime(prices_dayahead_2016['Dates'] + prices_dayahead_2016['Hours'] + ':00', format='%d-%m-%Y%H:%M')
prices_dayahead_2016 = prices_dayahead_2016.drop(['Dates','Hours'],axis=1)
prices_dayahead_2016['DK1'] = prices_dayahead_2016['DK1']/100
prices_dayahead_2016 = prices_dayahead_2016.set_index('ts')
prices_dayahead_2016.head()

In [ ]:
prices_dayahead_2017_raw_data = pd.read_html('data/elspot-prices_2017_hourly_dkk.xls')[0].values
prices_dayahead_2017 = pd.DataFrame(prices_dayahead_2017_raw_data)
prices_dayahead_2017 = prices_dayahead_2017.drop([2,3,4,5,6,7,9,10,11,12,13,14,15,16,17,18],axis=1)
prices_dayahead_2017.columns = ['Dates', 'Hours', 'DK1']
prices_dayahead_2017['Hours'] = prices_dayahead_2017['Hours'].str.slice(stop=2)
prices_dayahead_2017['ts'] = pd.to_datetime(prices_dayahead_2017['Dates'] + prices_dayahead_2017['Hours'] + ':00', format='%d-%m-%Y%H:%M')
prices_dayahead_2017 = prices_dayahead_2017.drop(['Dates','Hours'],axis=1)
prices_dayahead_2017['DK1'] = prices_dayahead_2017['DK1']/100
prices_dayahead_2017 = prices_dayahead_2017.set_index('ts')
prices_dayahead_2017.head()

## Parsing data of Regulating market prices for 2016 and 2017

In [ ]:
prices_regulating_2013_raw_data = pd.read_html('data/regulating-prices_2013_hourly_dkk.xls')[0].values
prices_regulating_2013 = pd.DataFrame(prices_regulating_2013_raw_data)
prices_regulating_2013 = prices_regulating_2013.drop([2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,24,25],axis=1)
prices_regulating_2013.columns = ['Dates', 'Hours', 'DK1_up', 'DK1_down']
prices_regulating_2013['Hours'] = prices_regulating_2013['Hours'].str.slice(stop=2)
prices_regulating_2013['ts'] = pd.to_datetime(prices_regulating_2013['Dates'] + prices_regulating_2013['Hours'] + ':00', format='%d-%m-%Y%H:%M')
prices_regulating_2013 = prices_regulating_2013.drop(['Dates','Hours'],axis=1)
prices_regulating_2013['DK1_up'] = prices_regulating_2013['DK1_up']/100
prices_regulating_2013['DK1_down'] = prices_regulating_2013['DK1_down']/100
prices_regulating_2013 = prices_regulating_2013.set_index('ts')
prices_regulating_2013.head()

In [ ]:
prices_regulating_2014_raw_data = pd.read_html('data/regulating-prices_2014_hourly_dkk.xls')[0].values
prices_regulating_2014 = pd.DataFrame(prices_regulating_2014_raw_data)
prices_regulating_2014 = prices_regulating_2014.drop([2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,24,25],axis=1)
prices_regulating_2014.columns = ['Dates', 'Hours', 'DK1_up', 'DK1_down']
prices_regulating_2014['Hours'] = prices_regulating_2014['Hours'].str.slice(stop=2)
prices_regulating_2014['ts'] = pd.to_datetime(prices_regulating_2014['Dates'] + prices_regulating_2014['Hours'] + ':00', format='%d-%m-%Y%H:%M')
prices_regulating_2014 = prices_regulating_2014.drop(['Dates','Hours'],axis=1)
prices_regulating_2014['DK1_up'] = prices_regulating_2014['DK1_up']/100
prices_regulating_2014['DK1_down'] = prices_regulating_2014['DK1_down']/100
prices_regulating_2014 = prices_regulating_2014.set_index('ts')
prices_regulating_2014.head()

In [ ]:
prices_regulating_2015_raw_data = pd.read_html('data/regulating-prices_2015_hourly_dkk.xls')[0].values
prices_regulating_2015 = pd.DataFrame(prices_regulating_2015_raw_data)
prices_regulating_2015 = prices_regulating_2015.drop([2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,24,25],axis=1)
prices_regulating_2015.columns = ['Dates', 'Hours', 'DK1_up', 'DK1_down']
prices_regulating_2015['Hours'] = prices_regulating_2015['Hours'].str.slice(stop=2)
prices_regulating_2015['ts'] = pd.to_datetime(prices_regulating_2015['Dates'] + prices_regulating_2015['Hours'] + ':00', format='%d-%m-%Y%H:%M')
prices_regulating_2015 = prices_regulating_2015.drop(['Dates','Hours'],axis=1)
prices_regulating_2015['DK1_up'] = prices_regulating_2015['DK1_up']/100
prices_regulating_2015['DK1_down'] = prices_regulating_2015['DK1_down']/100
prices_regulating_2015 = prices_regulating_2015.set_index('ts')
prices_regulating_2015.head()

In [ ]:
prices_regulating_2016_raw_data = pd.read_html('data/regulating-prices_2016_hourly_dkk.xls')[0].values
prices_regulating_2016 = pd.DataFrame(prices_regulating_2016_raw_data)
prices_regulating_2016 = prices_regulating_2016.drop([2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,24,25],axis=1)
prices_regulating_2016.columns = ['Dates', 'Hours', 'DK1_up', 'DK1_down']
prices_regulating_2016['Hours'] = prices_regulating_2016['Hours'].str.slice(stop=2)
prices_regulating_2016['ts'] = pd.to_datetime(prices_regulating_2016['Dates'] + prices_regulating_2016['Hours'] + ':00', format='%d-%m-%Y%H:%M')
prices_regulating_2016 = prices_regulating_2016.drop(['Dates','Hours'],axis=1)
prices_regulating_2016['DK1_up'] = prices_regulating_2016['DK1_up']/100
prices_regulating_2016['DK1_down'] = prices_regulating_2016['DK1_down']/100
prices_regulating_2016 = prices_regulating_2016.set_index('ts')
prices_regulating_2016.head()

In [ ]:
prices_regulating_2017_raw_data = pd.read_html('data/regulating-prices_2017_hourly_dkk.xls')[0].values
prices_regulating_2017 = pd.DataFrame(prices_regulating_2017_raw_data)
prices_regulating_2017 = prices_regulating_2017.drop([2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,24,25],axis=1)
prices_regulating_2017.columns = ['Dates', 'Hours', 'DK1_up', 'DK1_down']
prices_regulating_2017['Hours'] = prices_regulating_2017['Hours'].str.slice(stop=2)
prices_regulating_2017['ts'] = pd.to_datetime(prices_regulating_2017['Dates'] + prices_regulating_2017['Hours'] + ':00', format='%d-%m-%Y%H:%M')
prices_regulating_2017 = prices_regulating_2017.drop(['Dates','Hours'],axis=1)
prices_regulating_2017['DK1_up'] = prices_regulating_2017['DK1_up']/100
prices_regulating_2017['DK1_down'] = prices_regulating_2017['DK1_down']/100
prices_regulating_2017 = prices_regulating_2017.set_index('ts')
prices_regulating_2017.head()

## Joining price data in single dataframe

In [ ]:
prices_regulating = pd.concat([prices_regulating_2013, prices_regulating_2014, prices_regulating_2015, prices_regulating_2016, prices_regulating_2017])
prices_dayahed = pd.concat([prices_dayahead_2013, prices_dayahead_2014, prices_dayahead_2015,prices_dayahead_2016, prices_dayahead_2017])
prices = prices_dayahed.join(prices_regulating)
prices = prices[~prices.index.duplicated(keep='first')]
prices.head()

In [ ]:
prices['DK1'].plot(figsize=(15,5))
prices.drop(columns=['DK1']).plot(figsize=(15,5))

## Reference - Perfect solution

In [ ]:
reference = pd.DataFrame()
reference = prices[prices.index.year == 2017].drop(['DK1_up', 'DK1_down'],axis=1)
reference['Production'] = forecast_df['meas'].values/1000
reference['Revenue'] = reference['Production']*reference['DK1']
reference_revenue = reference['Revenue'].sum()
reference.head()

In [ ]:
print('The revenue for reference: {}'.format(reference_revenue))

## Strategy 1 - Based on historical data

In [ ]:
prices2016 = prices[prices.index.year == 2016]
prices2016 = prices2016.astype(float).round({'DK1': 0, 'DK1_up': 0, 'DK1_down': 0})
prices2016['Up'] = ((prices2016['DK1'] == prices2016['DK1_up']) & (prices2016['DK1_down'] != prices2016['DK1_up']))
prices2016['Down'] = ((prices2016['DK1'] == prices2016['DK1_down']) & (prices2016['DK1_down'] != prices2016['DK1_up']))
prices2016['Balance'] = (prices2016['DK1_up'] == prices2016['DK1_down'])
prices2016 = prices2016*1
prices2016['hour'] = prices2016.index.hour
hist_up_down = prices2016.groupby('hour').agg({"Up": "sum", "Down": "sum", "Balance": "sum"})
hist_up_down.plot(figsize=(15,9))

In [ ]:
strategy1 = pd.DataFrame()
strategy1 = prices[prices.index.year == 2017]
strategy1['Bid'] = 160
strategy1['Production'] = forecast_df['meas'].values/1000
strategy1['Dayahead Revenue'] = strategy1['Bid']*strategy1['DK1']
strategy1['Delta'] = strategy1['Production'] - strategy1['Bid']
strategy1['Regulation Revenue'] = strategy1['Delta']*strategy1['DK1_up']
strategy1_revenue = strategy1['Regulation Revenue'].sum() + strategy1['Dayahead Revenue'].sum()
strategy1_ratio = strategy1_revenue/reference_revenue
strategy1.head()

In [ ]:
strategy1_ratio

## Strategy 2 - Deterministic

In [ ]:
strategy2 = pd.DataFrame()
strategy2 = prices[prices.index.year == 2017]
strategy2['Bid'] = 1.02*forecast_df['fore'].values/1000
strategy2['Production'] = forecast_df['meas'].values/1000
strategy2['Dayahead Revenue'] = strategy2['Bid']*strategy2['DK1']
strategy2['Delta'] = strategy2['Production'] - strategy2['Bid']
strategy2_up = strategy2[strategy2['Delta'] <= 0]
strategy2_down = strategy2[strategy2['Delta'] > 0]
strategy2_up['Regulation Revenue'] = strategy2_up['DK1_up']*strategy2_up['Delta']
strategy2_down['Regulation Revenue'] = strategy2_down['DK1_down']*strategy2_down['Delta']

strategy2_revenue = strategy2_up['Regulation Revenue'].sum() + strategy2_up['Dayahead Revenue'].sum() + strategy2_down['Regulation Revenue'].sum() + strategy2_down['Dayahead Revenue'].sum()
strategy2_ratio = strategy2_revenue/reference_revenue
strategy2.head()

In [ ]:
strategy2_ratio

## Strategy 3 - Probabilistic

In [ ]:
alpha2016 = prices2016.drop(columns=['Up', 'Down', 'Balance'])
alpha2016['pi+'] = (prices2016['DK1'] - prices2016['DK1_down'])
alpha2016['pi-'] = (prices2016['DK1_up'] - prices2016['DK1'])

Using mean optimal alpha of the year:

In [ ]:
pi_plus = alpha2016['pi+'].mean()
pi_minus = alpha2016['pi-'].mean()
alpha_2016 = pi_plus/(pi_plus+pi_minus)
alpha_2016

Calcuating revenue

In [ ]:
strategy3 = pd.DataFrame()
strategy3 = prices[prices.index.year == 2017]
strategy3['Bid'] = forecast_df['q60'].values/1000
strategy3['Production'] = forecast_df['meas'].values/1000
strategy3['Dayahead Revenue'] = strategy3['Bid']*strategy3['DK1']
strategy3['Delta'] = strategy3['Production'] - strategy3['Bid']
strategy3_up = strategy3[strategy3['Delta'] <= 0]
strategy3_down = strategy3[strategy3['Delta'] > 0]
strategy3_up['Regulation Revenue'] = strategy3_up['DK1_up']*strategy3_up['Delta']
strategy3_down['Regulation Revenue'] = strategy3_down['DK1_down']*strategy3_down['Delta']

strategy3_revenue = strategy3_up['Regulation Revenue'].sum() + strategy3_up['Dayahead Revenue'].sum() + strategy3_down['Regulation Revenue'].sum() + strategy3_down['Dayahead Revenue'].sum()
strategy3_ratio = strategy3_revenue/reference_revenue
strategy3_ratio

Using mean optimal alpha for 24 hours:

In [ ]:
alpha_profile = alpha2016.groupby('hour').agg({"pi+": "mean", "pi-": "mean"})
alpha_profile['alpha'] = alpha_profile['pi+']/(alpha_profile['pi+']+alpha_profile['pi-'])
alpha_profile['alpha'].plot(figsize=(15,5))
alpha_list = alpha_profile['alpha'].values.tolist()
alpha_hour = pd.Series(np.tile(alpha_list, 365))

In [ ]:
strategy3b = pd.DataFrame()
strategy3b = prices[prices.index.year == 2017]
strategy3b['hour'] = strategy3b.index.hour
strategy3b['alpha'] = alpha_hour.values
strategy3b['quantile'] = 5*round((strategy3b['alpha']*100)/5,0)
strategy3b['quantile'] = 'q' + strategy3b['quantile'].astype(str).str.slice(stop=2)
strategy3b['Bid'] = forecast_df.set_index('dato').lookup(strategy3b.index, strategy3b['quantile'])/1000
strategy3b['Production'] = forecast_df['meas'].values/1000
strategy3b['Dayahead Revenue'] = strategy3b['Bid']*strategy3['DK1']
strategy3b['Delta'] = strategy3b['Production'] - strategy3b['Bid']
strategy3b_up = strategy3b[strategy3b['Delta'] <= 0]
strategy3b_down = strategy3b[strategy3b['Delta'] > 0]
strategy3b_up['Regulation Revenue'] = strategy3b_up['DK1_up']*strategy3b_up['Delta']
strategy3b_down['Regulation Revenue'] = strategy3b_down['DK1_down']*strategy3b_down['Delta']

strategy3b_revenue = strategy3b_up['Regulation Revenue'].sum() + strategy3b_up['Dayahead Revenue'].sum() + strategy3b_down['Regulation Revenue'].sum() + strategy3b_down['Dayahead Revenue'].sum()
strategy3b_ratio = strategy3b_revenue/reference_revenue
strategy3b_ratio

Using mean optimal alpha for months:

In [ ]:
alpha_month = alpha2016.groupby(pd.Grouper(freq='M')).agg({"pi+": "mean", "pi-": "mean"})
alpha_month['alpha'] = alpha_month['pi+']/(alpha_month['pi+']+alpha_month['pi-'])
alpha_month['alpha'].plot(figsize=(15,5))