In [1]:
import pandas as pd

## Reading forecast data

In [17]:
forecast_df = pd.read_csv('data/windpowerforecasts.dat', delimiter = ';')
forecast_df['dato'] = pd.to_datetime(forecast_df['dato'], format='%Y%m%d%H%M',)
forecast_df['dati'] = pd.to_datetime(forecast_df['dati'], format='%Y%m%d%H%M',)
forecast_df.head()

,dato,dati,hors,meas,fore,q5,10,q15,q20,q25,...,q50,q55,q60,q65,q70,q75,q80,q85,q90,q95
0,2016-12-31 12:00:00,2016-12-31 11:00:00,1,129132.0,141580.0,119294.0,128167.0,132059.0,134544.0,137317.0,...,142369.0,143127.0,143951.0,145011.0,145623.0,146925.0,148332.0,149051.0,150959.0,151801.0
1,2016-12-31 13:00:00,2016-12-31 11:00:00,2,131335.0,141875.0,112004.0,124338.0,130793.0,133813.0,136052.0,...,143137.0,143989.0,144975.0,146802.0,147550.0,149339.0,150149.0,151392.0,153096.0,156138.0
2,2016-12-31 14:00:00,2016-12-31 11:00:00,3,123412.0,140022.0,108147.0,118713.0,126426.0,130885.0,134868.0,...,141765.0,143099.0,144301.0,145448.0,146376.0,147514.0,149053.0,150258.0,152868.0,156752.0
3,2016-12-31 15:00:00,2016-12-31 11:00:00,4,122256.0,141579.0,110660.0,119310.0,126226.0,131309.0,134899.0,...,143123.0,144853.0,146163.0,147070.0,148500.0,149846.0,151205.0,152384.0,154085.0,157259.0
4,2016-12-31 16:00:00,2016-12-31 11:00:00,5,125480.0,141300.0,105267.0,117996.0,122253.0,129654.0,134890.0,...,142581.0,144078.0,145885.0,147475.0,148622.0,150055.0,151407.0,153929.0,155325.0,159776.0

## Reading data of Day-ahead prices for 2017 and 2016

In [42]:
prices_2016_raw_data = pd.read_html('data/elspot-prices_2016_hourly_dkk.xls')[0].values
prices_2016_df = pd.DataFrame(prices_2016_raw_data)
prices_2016_df = prices_2016_df.drop([2,3,4,5,6,7,10,11,12,13,14,15,16,17,18,19],axis=1)
prices_2016_df.columns = ['Dates', 'Hours', 'DK1', 'DK2']
prices_2016_df['Hours'] = prices_2016_df['Hours'].str.slice(stop=2)
prices_2016_df['ts'] = pd.to_datetime(prices_2016_df['Dates'] + prices_2016_df['Hours'] + ':00', format='%d-%m-%Y%H:%M')
prices_2016_df = prices_2016_df.drop(['Dates','Hours'],axis=1)
prices_2016_df['DK1'] = prices_2016_df['DK1']/100
prices_2016_df['DK2'] = prices_2016_df['DK2']/100
prices_2016_df = prices_2016_df.set_index('ts')

In [45]:
prices_2017_raw_data = pd.read_html('data/elspot-prices_2017_hourly_dkk.xls')[0].values
prices_2017_df = pd.DataFrame(prices_2017_raw_data)
prices_2017_df = prices_2017_df.drop([2,3,4,5,6,7,10,11,12,13,14,15,16,17,18],axis=1)
prices_2017_df.columns = ['Dates', 'Hours', 'DK1', 'DK2']
prices_2017_df['Hours'] = prices_2017_df['Hours'].str.slice(stop=2)
prices_2017_df['ts'] = pd.to_datetime(prices_2017_df['Dates'] + prices_2017_df['Hours'] + ':00', format='%d-%m-%Y%H:%M')
prices_2017_df = prices_2017_df.drop(['Dates','Hours'],axis=1)
prices_2017_df['DK1'] = prices_2017_df['DK1']/100
prices_2017_df['DK2'] = prices_2017_df['DK2']/100
prices_2017_df = prices_2017_df.set_index('ts')